#dashboard{
    color: white;
    z-index: 10;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
}
.carousel-cnt{
    width: 50%;
    margin: 0 auto;
    box-shadow: 2px 2px 80px rgba($color: #fff, $alpha: 0.8);
    border-radius: 10px;
    @include tablet-portrait {
        width: 100%;
    }
}
.dashboard-headline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.carousel-controls{
    z-index: 999;
   }
   
   .carousel-indicators{
      z-index: 999;
   }
.link{
    color: #fff;
    text-decoration: none;
}