@import './generic/reset';
@import './settings/_mixins';
@import './settings/_variables';
@import './elements/landing.scss';
@import './elements/form.scss';
@import './elements/dashboard.scss';
@import './elements/results.scss';
@import './elements/details.scss';

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.loading-screen{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 898;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.right{
  position: relative;
  right: 10px;
  top: 10px;
}
.left{
  left: 10px;
  top: 10px;
}
.logo{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 500;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}